@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, 
body {
    width:100%;
    height:100%;
    font-family: 'PT Sans Narrow';
    background-color: #353535;
    font-size: 62.5%;
    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: white;
    transition: .3s all;
}

a:hover {
    color: #826550;
}

.background {
    background-image: url(images/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}

@media (max-width: 900px) {
    .container {
        padding: 0 50px;
    }
} 

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
} 
  
.stats{
   width: 100%;
   padding-bottom: 100px;

}
  
  .stats__header{
    width: 100%;
    background: #fff;
  }
  
  .stats__header_content{
    display: flex;
    flex-flow: row wrap;
    font-size: 20px;
    padding: 40px 40px;
  }
  
  .stats__header_paragraph {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    padding: 10px 0;
  }

  @media (max-width: 770px) {
    .stats__header_paragraph {
        padding: 0 30px;
    }
  }


  
  .stats__header_paragraph:nth-child(1) {
    font-size: 2em;
    position: relative;
    font-weight: bold;
  }

  @media (max-width: 600px) {
    .stats__header_paragraph:nth-child(1) {
        font-size: 30px
    }
  }
  
  .stats__header_paragraph:nth-child(1)::before{
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 100%;
    background: #000;
  }
  
  .stats__header_paragraph:nth-child(2) {
    font-size: 1.3em
  }
  
  @media (max-width: 600px) {
    .stats__header_paragraph:nth-child(2) {
        font-size: 20px
    }
  }

  .stats__body{
    width: 100%;
  }
  

  .stats__body-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .paragraph {
    padding: 20px;
    width: 30%;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }



  @media (max-width: 600px) {
    .paragraph-3 span {
        font-size: 32px
    }
    .paragraph-4 span {
        font-size: 32px
    }
    .paragraph-5 span {
        font-size: 32px
    }
    .paragraph-6 span {
        font-size: 32px
    }
  } 

.header-menu__ul {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}



.header-menu__li {
    list-style: none;
    margin-right: 70px;
    font-size: 28px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .header-menu__li {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    .header-menu__li {
        margin-right: 25px;
        font-weight: 700;
    }

}
@media (max-width: 600px) {
    .header-menu__li {
        display: none;
    }
    .header-hr {
        display: none;
    }

}

#main {
    border-bottom: 4px solid #826550;
}


.logo {
    width: 50%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding-top: 50px;
}

@media (max-width: 1200px) {
    .logo {
        width: 50%;
        height: 70%;
    }
}
@media (max-width: 600px) {
    .logo {
        width: 100%;
        height: 80%;
    }
}




.paragraph-3 {
    width: 50%;
    height: 180px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    background-color: #4a4a4a;
    text-align: center;
}

.paragraph-4 {
    width: 50%;
    padding-top: 30px;
    height: 180px;
    font-size: 20px;
    color: #fff;
    background-color: #6c6c6c;
    text-align: center;
}

span {
    font-size: 72px;
    font-weight: 700;
}


.paragraph-5 {
    width: 50%;
    height: 180px;
    padding-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    background-color: #353535;
    text-align: center;
}

.paragraph-6 {
    width: 50%;
    padding-top: 30px;
    height: 180px;
    font-size: 20px;
    color: #fff;
    background-color: #4a4a4a;
    text-align: center;
}

main {
    position: relative;

}

.main-info {
    color: #fff;
    margin-bottom: 100px;
}

.info-block-1 {
    margin-bottom: 50px;
}

.icon {
    float: left;
    width: 130px;
    height: 130px;
    margin-right: 50px;
}

.clearfix {
    clear: both;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
}

.info-block-2 {
    margin: 0;
    width: 100%;
}

.hr {
   margin: 50px 0;
   height: 1px;
   background-color: #ffffff84;
   border: none;
}

.services {
    color: #fff;
    margin-bottom: 100px;

}

.services-header {
    font-size: 43px;
    margin-bottom: 30px;
    text-align: center;

}

.services-text-one {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
}
.services-text {
   float: left;
   font-size: 26px;
}



.line {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px;

}


.line2 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}
.line3 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}
.line4 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}
.line5 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}
.line6 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}
.line7 {
    border-bottom: 1px solid;
    width: 50%;
    margin: 10px 20px
}

.background-white {
    background-color: #fff;
    width: 100%;
    padding: 0 100px;
}

@media (max-width: 900px) {
    .background-white  {
        padding: 0 50px;
    }
}

@media (max-width: 600px) {
    .background-white  {
        padding: 0 10px;
    }
}

.masters-text {
    font-size: 43px;
    margin-bottom: 30px;
    text-align: center;
    padding: 50px 0;
}

.masters {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.master-photo {
    width: 300px;
    height: 370px;
}

@media (max-width: 900px){
    .master-photo {
        width: 250px;
        height: 300px;
    }
}

.master-name {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
}

.master-link {
    color: #000;
    border: 2px solid #E5DDD5;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.feedBack {
    padding: 100px 0;

}

.feedback-first__row {
    display: flex;
    width: 100%;
    padding-bottom: 150px;
}

.feedBack-header {
    font-size: 50px;
    font-weight: 700;
    width: 100%;
}

@media(max-width: 668px) {
    .feedBack-header {
        font-size: 30px
    }
}

.feedback-btn {
    position: absolute;
    right: 0;
    color: #000;
    border: 2px solid #E5DDD5;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 25px;
    background: #fff;
    cursor: pointer
}


@media(max-width: 668px) {
    .feedback-btn {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 700;
    }
}

.feedBack-button {
    width: 100%;
    position: relative;
}





.feedBack-info {
    border: 2px solid #E5DDD5;
    padding: 100px 100px;
    position: relative;
}

.photo-chela {
    float: left;
    padding-right: 50px;
    width: 160px;
    height: 90px;
}

@media (max-width: 480px) {
    .photo-chela {
        float: none;
    }
}

.name {
    font-size: 28px;
}

.left-arrow {
    position: absolute;
    left: 10px;
    top: 120px;
    cursor: pointer;
    transform: rotate(180deg);
}
.left-arrow2 {
    position: absolute;
    left: 10px;
    top: 120px;
    cursor: pointer;
    transform: rotate(180deg);
}
.left-arrow3 {
    position: absolute;
    left: 10px;
    top: 120px;
    cursor: pointer;
    transform: rotate(180deg);
}

.right-arrow {
    position: absolute;
    right: 10px;
    top: 120px;
    cursor: pointer;
}
.right-arrow2 {
    position: absolute;
    right: 10px;
    top: 120px;
    cursor: pointer;
}
.right-arrow3 {
    position: absolute;
    right: 10px;
    top: 120px;
    cursor: pointer;
}

.box {
    height: 50px;
    width: 150px;
    background: #E5DDD5;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.box-indicators {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
}

#black-slider2 {
    display: none;
}
#black-slider3 {
    display: none;
}

#right-arrow2 {
    display: none;
}

#left-arrow2 {
    display: none;
}

#right-arrow3 {
    display: none;
}

#left-arrow3 {
    display: none;
}

.feedBack-info2 {
    display: none;
}
.feedBack-info3 {
    display: none;
}
/* footer  */

footer {
    color: #fff
}

.footer-header {
    font-size: 43px;
    padding: 30px;
    text-align: center;
}

.first-text-column, .second-text-column, .third-text-column {
    width: 33%;
    float: left;
    padding-right: 80px;
}

@media (max-width: 900px) {
    .first-text-column, .second-text-column, .third-text-column {
        width: 100%;
        margin-bottom: 50px;
        padding-right: 0;
    }
}

.footer-link {
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
}

.footer-h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.footer-p {
    font-size: 20px;
    padding-bottom: 5px;
}

.footer-hr{
    margin-bottom: 40px;
}

.social {
    width: 70px;
    height: 70px;
}


/* burger-menu  */

.navigation {
    position: absolute;
    z-index: 20;
}
.navigation__toggle {
    display: none;
  }
  .navigation__button {
    background: #ffffff;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 200;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }


  .navigation__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: radial-gradient(#333333, #3b3b3b);
    position: fixed;
    right: 4rem;
    top: 4rem;
    z-index: 100;
    transition: 1s all;
  }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: 0.8s all cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    width: 100%;
    text-align: center;
  }
  .navigation__list:not(:last-child) {
    margin-bottom: 5rem;
  }
  .navigation__link:link, .navigation__link:visited {
    font-size: 4rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 220%;
    padding: 1rem 2rem;
    transition: all 0.6s;
    display: inline-block;
  }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #000000;
    transform: translateX(1rem);
  }
  .navigation__toggle:checked ~ .navigation__background {
    transform: scale(80);
  }
  .navigation__toggle:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }
  .navigation__icon {
    position: relative;
    margin-top: 3.7rem;
  }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.2rem;
    background: #000000;
    display: inline-block;
  }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon {
    background: transparent;
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation__toggle:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }